<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <form action="" method="post">
          <button name="kind" value="select" class="navbar-brand">
            回上一頁
          </button>
        </form>
      </div>
    </nav>

    <div class="container mt-4">
      <h2>輸入數據</h2>
      <h3>病人名稱: <%= patient_name %></h3>
      <h3>病人病歷號: <%= record_id %></h3>

      <!-- 選擇固體或液體 -->
      <div class="btn-group" role="group">
        <form action="" method="post">
          <button
            name="kind"
            value="solid"
            class="btn btn-outline-primary"
            id="solid-link"
          >
            固體
          </button>
          <button
            name="kind"
            value="liquid"
            class="btn btn-primary"
            id="liquid-link"
          >
            液體
          </button>
        </form>
      </div>

      <div class="mb-3 col-md-6">
        <label for="date" class="form-label">選擇：</label>
        <input type="date" class="form-control" id="date1" />
      </div>
      <!-- 新增時段輸入 -->
      <div class="mb-3 col-md-6">
        <label for="period1" class="form-label">輸入時段:</label>
        <select class="form-label" id="period1" required>
          <option value="2">白班</option>
          <option value="3">小夜</option>
          <option value="1">大夜</option>
        </select>
      </div>

      <button type="button" class="btn btn-success" id="confirm-button">
        確認
      </button>

      <!-- 表格顯示數據 -->
      <table class="table">
        <thead>
          <tr>
            <th>時間</th>
            <th>類別</th>
            <th>CC數(毫升)</th>
            <th>登記</th>
          </tr>
        </thead>
        <tbody id="data-table">
          <!-- 這裡顯示數據-->
        </tbody>
      </table>
      <p id="total">共計:</p>

      <!-- 新增數據按鈕 -->
      <button type="button" class="btn btn-success" id="add-data-button">
        新增
      </button>
    </div>

    <!-- 彈跳視窗 -->
    <div id="modal" class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <span class="close m-1">&times;</span>
          <h3 class="modal-title m-1 ml-3">新增數據按鈕</h3>
          <form id="add-data-form">
            <div class="m-3">
              <label for="record_id" class="form-label">病歷號： <%= record_id %></label>
            </div>
            <div class="m-3">
              <label for="date" class="form-label">日期：</label>
              <input type="date" class="form-control" id="date" required />
            </div>
            <div class="m-3">
              <label for="state" class="form-label">狀態：</label>
              <select class="form-control" id="state" required>
                <option value="液體">液體</option>
              </select>
            </div>
            <div class="m-3">
              <label for="category" class="form-label">類別：</label>
              <input type="text" class="form-control" id="category" required />
            </div>
            <div class="m-3">
              <label for="amount" class="form-label">CC數(毫升)：</label>
              <input type="number" class="form-control" id="amount" required />
            </div>
            <div class="m-3">
              <label for="time" class="form-label">時間：</label>
              <input type="time" class="form-control" id="time" required />
            </div>
            <div class="m-3">
              <label for="period" class="form-label">時段：</label>
              <input type="text" class="form-control" id="period" required />
            </div>
            <button type="button" class="btn btn-primary m-1" id="postBtn">
              確定
            </button>
          </form>
        </div>
        </div>
    </div>
  </body>
</html>
<script>
  let ip = "<%= ip %>";
  let record_id = "<%= record_id %>"

  $(document).ready(function () {

    $("#confirm-button").click(function () {
      displayData();
      displayTotal();
    });

    $("#postBtn").click(function () {
      postData();
    });

    $("#data-table").on("click", ".delete-btn", function () {
      let inputId = $(this).data("id");
      let recordId = $(this).data("record-id");
      if (confirm("確定要刪除這筆資料嗎？")) {
        deleteInput(inputId, recordId);
      }
    });
    // 使用 AJAX 获取数据
    function displayData() {
      let date = $("#date1").val();
      date = formatDateToInteger(date);
      let period = $("#period1").val();

      // 发送Ajax请求
      $.ajax({
        url: `http://${ip}/api/input/${date}/${record_id}/${period}`,
        method: "GET",
        dataType: "json",
        success: function (data) {
          // 清空数据表格
          $("#data-table").empty();

          // 遍历API返回的数据并添加到表格
          for (let i = 0; i < data.length; i++) {
            let item = data[i];

            // 只處理液體的數據
            if (item[4] !== "液體") {
              continue;
            }

            let time = item[3];
            let formattedTime = convertTime(time);

            let registrationStatus =
              item[7] === 1
                ? "已登記"
                : "<button class='register-btn' data-id='" +
                  item[0] +
                  "'>登記</button>";

            let rowHtml =
              "<tr>" +
              "<td>" +
              formattedTime +
              "</td>" +
              "<td>" +
              item[5] +
              "</td>" +
              "<td>" +
              item[6] +
              "</td>" +
              "<td>" +
              registrationStatus +
              "</td>" +
              "<td><button class='delete-btn' data-id='" +
              item[0] +
              "' data-record-id='" +
              item[1] +
              "'>刪除</button></td>" + // 刪除按鈕
              "</tr>";
            $("#data-table").append(rowHtml);
          }
        },
        error: function (error) {
          console.error("Error fetching data:", error);
        },
      });
    }

    function displayTotal() {
      let date = $("#date1").val();
      date = formatDateToInteger(date);
      console.log(date)
      let period = $("#period1").val();
      console.log(period)
      $.ajax({
        url: `http://${ip}/api/input/amount/${date}/${record_id}/${period}/液體`, // 替換成您的API網址
        method: "GET",
        dataType: "json",
        success: function (response) {
          // 假設API回應包含一個名為total的屬性
          $("#total").text("共計: " + response + " CC");
          // 更新頁面上的元素
        },
        error: function (error) {
          console.error("Error fetching total:", error);
        },
      });
    }

    $("#data-table").on("click", ".register-btn", function () {
      let input_liquid_id = $(this).data("id");
      registerData(input_liquid_id);
    });

    function registerData(id) {
      // 在這裡發送 AJAX 請求到 /api/patient/register
      // 例如：
      $.ajax({
        url: `http://${ip}/api/patient/register`,
        method: "PATCH",
        data: {
          table: "input",
          table_id: "input_id",
          id: id,
          record_id: record_id,
        },
        success: function (response) {
          console.log("Registration successful", response);
          displayData();
        },
        error: function (error) {
          console.error("Registration failed", error);
        },
      });
    }

    // 刪除操作
    function deleteInput(inputId, recordId) {
      $.ajax({
        url: `http://${ip}/api/input`,
        method: "DELETE",
        data: {
          input_id: inputId,
          record_id: recordId,
        },
        success: function (response) {
          console.log("Delete success:", response);
          // 重新加載數據
          displayData();
          displayTotal();
        },
        error: function (error) {
          console.error("Error deleting data:", error);
        },
      });
    }

    //post功能
    function postData() {
      // const record_id = document.getElementById("record_id").value;
      const date = document.getElementById("date").value;
      const state = document.getElementById("state").value;
      const category = document.getElementById("category").value;
      let amount = document.getElementById("amount").value;
      const time = document.getElementById("time").value;
      let period = document.getElementById("period").value;

      const formattedDate = parseInt(formatDateToInteger(date));
      amount = parseInt(amount);
      const convertedTime = convertTimeToHHMM(time);
      period = turnPeriod(period);

      $.ajax({
        url: `http://${ip}/api/input`,
        type: "POST",
        data: {
          record_id: record_id,
          date: formattedDate,
          time: convertedTime,
          state: state,
          category: category,
          amount: amount,
          period: period,
        },
        success: function (response) {
          console.log(response);
          displayData();
          displayTotal();
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    //日期轉換為數字
    function formatDateToInteger(inputDate) {
      // 將日期字符串轉換為 Date 對象
      const dateObject = new Date(inputDate);

      // 獲取年、月、日的數字
      const year = dateObject.getFullYear();
      const month = (dateObject.getMonth() + 1).toString().padStart(2, "0"); // 月份從0開始，因此需要+1，並使用padStart填充零
      const day = dateObject.getDate().toString().padStart(2, "0");

      // 將數字拼接為字符串，形成 YYYYMMDD 格式
      const formattedDate = `${year}${month}${day}`;

      return formattedDate;
    }

    //post專用
    function convertTimeToHHMM(inputTime) {
      const [hours, minutes] = inputTime.split(":");
      const formattedTime = hours + minutes;
      return formattedTime;
    }

    //顯示數據專用
    function convertTime(time) {
      // 将时间字符串转为数字
      const timeNumber = parseInt(time);

      // 获取小时和分钟部分
      const hours = Math.floor(timeNumber / 100);
      const minutes = timeNumber % 100;

      // 构造格式化后的时间字符串
      const formattedTime =
        hours.toString().padStart(2, "0") +
        ":" +
        minutes.toString().padStart(2, "0");

      return formattedTime;
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    // 获取模态框和关闭按钮
    const modal = document.getElementById("modal");
    const closeBtn = document.getElementsByClassName("close")[0];
    const confirmBtn = document.getElementById("postBtn");

    // 获取新增数据按钮
    const addDataButton = document.getElementById("add-data-button");

    // 打开模态框
    addDataButton.addEventListener("click", function () {
      modal.style.display = "block";
    });

    // 关闭模态框
    closeBtn.addEventListener("click", function () {
      modal.style.display = "none";
    });

    confirmBtn.addEventListener("click", function () {
      modal.style.display = "none";
    });

    // 当用户点击模态框外部区域时，关闭模态框
    window.addEventListener("click", function (event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    });
  });

  function calculatePeriod(time) {
    const hour = parseInt(time.split(':')[0]);
    if (hour >= 0 && hour < 8) {
        return '大夜';  // 0點到8點
    } else if (hour >= 8 && hour < 16) {
        return '白班';  // 8點到16點
    } else {
        return '小夜';  // 16點到24點
    }
  }

  function turnPeriod(period) {
    if(period == '大夜') {
      return 1;
    } else if(period == '白班') {
      return 2;
    } else if(period == '小夜') {
      return 3;
    }
  }

  // 添加事件監聽器到時間選擇器
  document.getElementById('time').addEventListener('change', function() {
      const selectedTime = this.value;
      const period = calculatePeriod(selectedTime);
      document.getElementById('period').value = period;  // 自動填充計算出的時段
  });
</script>
